<div id="details">
  <div class="logo">
    <img src="assets/logo.png">
  </div>
  
  <div class="container well-lg text-center" *ngIf="pokeDetails.name == 'Details'">
    <img src="assets/loader.gif">
  </div>

  <div class="container" *ngIf="pokeDetails.name != 'Details'">
    <h1 class="text-center">{{ pokeDetails.name | ucwords }} Details</h1>

    <div class="text-center">
      <img src="{{ pokeDetails?.sprites?.front_default }}">
    </div>
    
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><b>Name:</b></td>
          <td>{{ pokeDetails.name }}</td>
        </tr>
        <tr>
          <td><b>Height:</b></td>
          <td>{{ pokeDetails.height }}</td>
        </tr>
        <tr>
          <td><b>Weight:</b></td>
          <td>{{ pokeDetails.weight }}</td>
        </tr>
      </tbody>
    </table>

    <button routerLink="/pokemons">Voltar</button>
  </div>
</div>