#main-background {
	position: relative;
	width: 100%;
	min-height: 100%;
	background-image: url('../assets/background.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	background-color: #79C9FA;
}